<html>
<head>
<title>{% page_title %}</title>
</head>
<body>

    <h2>Product Configurator</h2>
    <form action="{% url %}" method="post">
        <p>Number of rooms in your apartment:</p><br><input type="text" name="numberOfRooms" value="1">
        <p>Apartment size [sq m]:</p><br><input type="text" name="area" value="20">
        <p>Balcony:</p><br><input type="checkbox" name="balcony" value="balcony">
        <br><br><input type="submit" value="Submit">
    </form>

</body>
</html>